<h1>Hello World!</h1>
<style>
    .row:after {content: ""; display: table; clear: both;}
    .column {float: left; width: 50%; padding: 10px;}
</style>

<div class="row">
<div class="column">
<button id="quit" class="action-btn">Quit</button>
<button id="start-robot-visualiser-plot" class="action-btn">Start Robot Visualiser Plot</button>
<button id="stop-robot-visualiser-plot" class="action-btn">Stop Robot Visualiser Plot</button>
<button id="start-robot-visualiser-3d" class="action-btn">Start Robot Visualiser 3D</button>
<button id="stop-robot-visualiser-3d" class="action-btn">Stop Robot Visualiser 3D</button>
<button id="increment-q" class="action-btn">Increment Q</button>
<button id="auto-home" class="action-btn">Auto Home</button>
</div>
<div class="column">
<form id="send-robot-pose">
<input id="x-position"></input>
<input id="y-position"></input>
<input id="z-position"></input>
<input type="submit" value="Send Robot Pose">
</form>
</div>
</div>

<script>
    const buttons = document.querySelectorAll('.action-btn')
    // const buttons = document.getElementsByClassName('action-btn')
    buttons.forEach((button) => {
        button.addEventListener('click', async _ => {
            try {     
                const host = window.location.origin;
                const response = await fetch(host+"/"+button.id, {
                method: 'post',
                });
                if(button.id == "quit") {
                    window.close();
                }
                console.log('Completed!', response);
            } catch(err) {
                console.error(`Error: ${err}`);
            }
        });
    })

    const sendRobotPoseForm = document.getElementById("send-robot-pose");

    sendRobotPoseForm.addEventListener("submit", async (event) => {
            event.preventDefault();
            const host = window.location.origin;
            try {
            const response = await fetch(host+"/send-robot-pose", {
                method: 'post',
                body: JSON.stringify({
                    x: document.getElementById("x-position").value,
                    y: document.getElementById("y-position").value,
                    z: document.getElementById("z-position").value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            console.log('Completed!', response);
            // Set the form to empty
            document.getElementById("x-position").value = "";
            document.getElementById("y-position").value = "";
            document.getElementById("z-position").value = "";
        } catch(err) {
            console.error(`Error: ${err}`);
        }
        });
</script>